<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Julsida </title>
</head>
<body> 
        


    <div class="header">
        

        <div class="menu" onclick="menu()">
             <i class="material-icons"> menu </i> 

        # <div class="fade-layer"></div>
        
        
        </div>


        <div class="nav">

                <ul>
                   <li>Förrätter <a href=""></a> </li>
                   <li>Varmrätter <a href=""></a></li>
                   <li>Efterätter <a href=""></a></li>
                   <li> <a href="julbak.html.erb"> Julbak</a> </li>
                   <li>Alla recept <a href=""></a></li>
                   <li>Inspration <a href=""></a></li>
       
                </ul>
       
               </div>
               
    </div>

   

    <div class="head"> </div>
    
    <div class="main">

       

    </div>

    


    <div class="footer">footer</div>

    <script src="js/main.js" ></script>

     
</div>

</body>
</html>